.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-evenly; */
}

.flex div.movies {
  background-color: thistle;
  margin-top: 1rem;
  width: 40vw;
  height: 95vw;
  overflow: scroll;
}

.ui-card {
  border: 2px solid black;
}



